/*FONTE DO SITE TODO*/
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400&display=swap");

/*FONTE DO footer DO SITE*/
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400&family=Roboto+Slab:wght@100..900&display=swap");

/*RESET DA PÁGINA DO SITE*/
body * {
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(
    to top,
    lightgrey 0%,
    lightgrey 1%,
    #e0e0e0 26%,
    #efefef 48%,
    #d9d9d9 75%,
    #bcbcbc 100%
  );
  display: flex;
  background-repeat: no-repeat;
  min-height: 100vh;
}

/*div container*/
#container_global {
  /* background-color: #e4e0e0; */
  /* background-image: linear-gradient(45deg, #8baaaa 0%, #ae8b9c 100%); */
  /* background-image: linear-gradient(to left, #bdbbbe 0%, #9d9ea3 100%),
    radial-gradient(
      88% 271%,
      rgba(255, 255, 255, 0.25) 0%,
      rgba(254, 254, 254, 0.25) 1%,
      rgba(0, 0, 0, 0.25) 100%
    ), radial-gradient(
      50% 100%,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(0, 0, 0, 0.3) 100%
    );  background-blend-mode: normal, lighten, soft-light; */
  display: flex;
  flex-direction: column;
  padding: 5px;
  width: 100%;
  max-width: 100%;
  font-family: "Kanit";
}
/* div header */
#nav_header {
  padding: 5px;
  position: relative;
  height: auto;
  margin-bottom: 10px;
  border-radius: 5px;
  border: solid #6c757d;
}

/*container para o paragrafo ao lado do logo do sistema */
#header_main {
  display: flex;
  justify-content: space-between;
  width: auto;
  height: auto;
  /* align-items: baseline; */
  font-size: 15pt;
  margin-bottom: inherit;
}

#identification_user {
  margin: 5px 5px 0 0;
}

/*estilos dos breadcrumb do sistema*/
.nav_breadcrumb {
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  padding: 0.3rem 1rem;
  list-style: none;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: "/";
  padding: 0 0.5rem;
  color: #6c757d;
}

.breadcrumb-item > a,
#texto_institucional a, .ancle_form a {
  color: #151a58;
  text-decoration: underline;
  background-color: transparent;
}

.breadcrumb-item > a:hover,
#texto_institucional a:hover {
  color: #2b2f32;
  text-decoration: none;
}

.breadcrumb-item.active {
  color: #6c757d;
}

/* estilos da div do conteudo especifico  */
#conteudo_especifico {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  flex: 1;
}

/* Estilos das divs de amostra dos amplificadores */
div .row {
  margin-top: 2rem;
}

/* Espacamento entre os cards das amostras dos elementos da página inicial */
div .col-md-2 {
  padding: 5px;
}

/* div dos cards para regular o tamanho das imagens */
div .card-img-top {
  padding: 5px;
}

/* Div dos paragrafos dentro dos cards de amostra */
div .card-text {
  font-size: 14px;
  text-align: justify;
  color: rgb(33 37 41 / 80%);
}

/* Os botões de ver a informação dos produtos e de vender os produtos  */
div .btn {
  margin: 0.3rem 0 0.3rem 0;
}

/* Estilos do carrossel de amostra dos produtos */
div .carousel-control-prev,
div .carousel-control-next {
  background-color: #0000008c;
  border-radius: 30px;
  width: 60px;
  height: 60px;
  top: 50%;
}

/* caption {
  padding-left: 1rem;
} */

/* Estilos da tabela de informações do sistema */
table {
  text-align: center;
  font-size: 13pt;
  /* box-shadow: solid 2px #23232e; */
}

/* div footer */
#footer {
  padding: 0px;
  display: flex;
  flex-direction: column;
  font-family: "Roboto Slab";
  margin-top: 35px;
  bottom: 0;
  border-radius: 5px;
  border: solid #6c757d;
  color: #161616;
  justify-content: space-between;
  position: relative;
}

#footer p {
  line-height: 10px;
  word-spacing: 5pt;
  margin: 10px auto 10px 15px;
}

.container_copy h6 {
  text-align: center;
}

/* Estilos do menu mobile (responsividade)*/
.nav_list {
  display: none;
}

.button_mobile {
  position: absolute;
  cursor: pointer;
  right: 10px;
  top: 10px;
}

/* Escondendo o menu na tela maior que 920px */
@media (min-width: 920px) {
  .mobile_menu {
    display: none;
  }
}

/* MEDIA QUERY DA RESPONSIVIDADE */
@media (max-width: 919px) {
  .button_mobile {
    display: block;
  }

  /* ESCONDENDO o MENU e a CREDENCIAL */
  #identification_user {
    display: none;
  }

  /* Estilos da lista do menu */
  .mobile_menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  /* Estilos dos links do menu */
  .mobile_menu a {
    display: flex;
    text-decoration: none;
    color: #000000bd;
    margin: 10px;
    padding: 10px;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    border: 1px solid;
    border-radius: 15px;
  }
}

/* Esse é o estilo de responsividade dos breadcrum */
@media (max-width: 540px) {
  .nav_breadcrumb {
    margin-bottom: 10px;
    display: flex;
    padding: 0.3rem 1rem;
    list-style: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

/* Estilos de responsividade do título da página inicial */
@media (max-width: 500px) {
  .title_response {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
