/* Esse é os estilos do efeito de saída do site */
/* Overlay cobrindo toda a tela */
#spinner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.35);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

/* Spinner centralizado */
/* Spinner estlizado */
div .spinner-border {
  width: 5rem;
  height: 5rem;
  color: #b8c0c7e0;
  animation: var(--bs-spinner-animation-speed)
    cubic-bezier(0.46, 0.15, 0.53, 0.86) infinite
    var(--bs-spinner-animation-name);
}

/* Efeito de escurecimento ao sair */
.fade-out {
  opacity: 0;
  transition: opacity 1s ease-out;
}
