/* div CONTEUDO_ESPECIFICO  */

.conteudo_especifico {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container_title {
  margin: 15px;
}

/*STILO DOS FORMULARIOS*/
.form_container {
  /* background-color: rgb(24 83 196 / 35%); */
/* 
  background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
 background-blend-mode: multiply,multiply; */

 background-image: linear-gradient(to left, #BDBBBE 0%, #9D9EA3 100%), radial-gradient(88% 271%, rgba(255, 255, 255, 0.25) 0%, rgba(254, 254, 254, 0.25) 1%, rgba(0, 0, 0, 0.25) 100%), radial-gradient(50% 100%, rgba(255, 255, 255, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);
 background-blend-mode: normal, lighten, soft-light;


  border-radius: 10px;
  width: 35rem;
  max-width: 100%;
  display: flex;
  flex-direction: inherit;
  align-items: center;
  justify-content: center;
}

.form_header {
  margin-top: 10px;
  border-radius: inherit;
  width: -webkit-fill-available;
  max-width: inherit;
  text-align: center;
}

.form {
  padding: 20px;
  width: -webkit-fill-available;
  max-width: 100%;
}

div .form_control {
  background-color: #0000;
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
  border: none;
}

.form_control label {
  display: inline-block;
  margin: 5px 15px 5px 0;
}

.form_control input {
  border: solid 2px #f0f0f0;
  display: block;
  border-radius: 5px;
  font-size: 12pt;
  width: -webkit-fill-available;
  max-width: inherit;
  padding: 5px;
  outline: none;
  border-bottom: solid 1px #03214186;
}

.form button {
  background-color: #537895de;
  font-size: 15px;
  width: auto;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}

/* Estilos das divs de mostrar as informações */
div .container_info {
  margin-top: 10px;
  padding: 20px;
  width: 35rem;
}

.form-control {
  background-color: #e9ecef;
}

/* O tamanho da foto do amplificador na página de alteração */
.form_control_img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.foto_amplic {
  width: 220px;
}

/* Colocar os radios alinhado lado a lado */
#style_funcao {
  display: flex;
  justify-content: space-between;
}

#form_radio {
  margin-right: 0px;
}

.form-check {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
}

/*EFEITOS DOS CAMPOS DOS FORMULÁRIOS*/
/* Error and Success */
/*ESSA CLASSE VAI PEGAR TODOS OS INPUTS QUE O PARAMATRO SUCCESS*/
/* O efeito na cor vermelha no input (error) */
.form_control.success input {
  border: 2px solid;
  border-color: #2ece71e8;
}

/* O efeito na cor vermelha no input (error) */
.form_control.error input {
  border: 2px solid;
  border-color: #c44433;
}

/*ISSO VAI SER EXECUTADO SE A CLASSE FORM-CONTROL ESTIVER COM SUCCESS*/
/* Efeito de visualizar o icone (success) */
.form_control.form_control.success i.fa-check-circle {
  color: #2ece71e8;
  visibility: visible;
}

/* Efeito de visualizar o icone (error) */
.form_control.form_control.error i.fa-exclamation-circle {
  color: #c44433;
  visibility: visible;
}

/* A mensagem escondida abaixo do input */
.form_control small {
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

/* A posição do icone de erro ou o de sucesso */
.form_control i {
  position: absolute;
  top: 45px;
  right: 10px;
  visibility: hidden;
}

/* A cor da mensagem do input dos formulários */
.form_control.error small {
  visibility: visible;
  color: #c44433;
}

/* Estilos das opções de recuperação */
.ancle_form {
  margin: 5px 0 0 0;
}

/*MEDIA QUERY DA RESPONSIVIDADE*/
